{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}: Контакты
{% endblock %}
{% block content %}
    <form action="" class="feedback">
        <h3>Напишите нам</h3>
        <input id="name" type="text" name="name" placeholder="Имя">
        <input id="email" type="text" name="email" placeholder="Email">
        <input id="message" name="message" placeholder="Тема">
        <textarea id="text" name="text" placeholder="Текст"></textarea>
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
