* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #f8f8f8;
    color: #555;
    font-size: 14px;
}

ul {
    list-style: none;
}

img {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

img:hover {
    border: none;
    padding: 5px;
    background: transparent;
}

h3 {
    margin: 20px 0;
}

p {
    margin: 10px 0;
}

.container {
    width: 80em;
    margin: 0 auto;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 6em;
    background: lightgoldenrodyellow;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Georgia, serif;
    font-weight: bold;
    color: sienna;
    margin-left: 20px;
}

.menu {
    margin-right: 20px;
}

.menu li {
    display: inline;
    margin-right: 1.8em;
}

.menu span {
    background: burlywood;
    color: white;
    padding: 0.6em;
}

.menu a {
    color: burlywood;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6em;
}

.menu a:hover {
    text-decoration: underline;
    color: sienna;
}

.content {
    padding: 30px 20px;
    margin-bottom: 40px;
}

.content p:hover:first-letter {
    font-size: 2em;
    color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 80em;
    display: flex;
    background: gainsboro;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
}

.footer p {
    margin-right: 20px;
}

.product-content a {
    float: left;
}

.title {
    color: black;
    font-weight: 400;
    background: #eaeaea;
}

.title-short {
    color: #707070;
    font-weight: 400;
    font-style: italic;
    line-height: 16px;
}

.title-detail {
    color: #484343;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}

.title-kind {
    text-align: left;
    clear: both;
}

.kind {
    margin: 20px 40px;
}

.kind li {
    list-style-image: url(/static/favicon.ico);
}

.feedback {
    margin: auto;
    padding: 40px;
    background: white;
    border: 10px solid #f2f2f2;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

input[name='email']:focus {
    color: indianred;
    background: lightgoldenrodyellow;
}

button {
    background-color: olive;
    color: white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.catalog li {
    position: relative;
    display: inline-block;
    margin-right: 3em;
}

.catalog a, .catalog span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: ivory;
    text-decoration: none;
}

.catalog img {
    height: 150px;
}

table td {
    border: 1px solid darkred;
    padding: 10px;
    margin-bottom: 20px;
}

table thead td {
    padding: 20px 10px;
    font-weight: bold;
}

.fully {
    background: greenyellow;
}

.partly {
    background: yellow;
}

.product-container {
    justify-content: space-between;
}