body {
    padding-top: 74px;
}

@media (min-width: 992px) {
    body {
        padding-top: 76px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: gainsboro;
    align-items: center;
    height: 60px;
}

footer p {
    margin-right: 20px;
}
