{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}: Каталог
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                {% include 'product/_categories.html' %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a class="img-wrap" href="{% url 'product:view' product.category.pk product.pk %}"><img class="card-img-top" src="/media/{{ product.image }}" alt="{{ product.name|title }}"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="text-success" href="{% url 'product:view' product.category.pk product.pk %}">{{ product.name|title }}</a>
                                </h4>
                                <h5>{{ product.price_text }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
