{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}: Каталог
{% endblock %}
{% block content %}
    <h3>Каталог</h3>
    <ul class="catalog">
        {% for product in products %}
            <li>
                <img src="/media/{{ product.image }}" alt="{{ product.name|title }}"><br>
                <a href="{% url 'products:view' product.category.pk product.pk %}">{{ product.name|title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
