{% extends 'layout.html' %} {% block content %}
    <div class="container">
        <div class="card">
            <div class="row">
                <aside class="col-sm-5">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="/media/{{ product.image }}" target="_blank">
                                <img src="/media/{{ product.image }}" alt="дуб">
                            </a>
                        </div>
                    </article>
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3">{{ product.name }}</h3>
                        <p>
                            {% if product.quantity > 0 %}
                                В наличии:
                                <small class="text-muted">{{ product.quantity }} {{ product.unit }}</small>
                            {% else %}
                                Нет в наличии
                            {% endif %}
                        </p>
                        <a href="{% url 'order:add' product.pk %}" class="btn btn-outline-success float-right">
                            <i class="fas fa-plus"></i> Добавить в заказ 1 {{ product.unit }}
                        </a>
                        <p><span class="h3 text-muted">{{ product.price_text }}</span></p>
                        <p>{{ product.short_desc|safe }}</p>
                        <p>{{ product.description|safe }}</p>
                    </article>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}