<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Семена деревьев: Контакты</title>
    <link ​rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link ​rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="container">
    <div class="header">
        <a class="logo" href="/">Семена деревьев</a>
        <ul class="menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/products/">Каталог</a></li>
            <li><span>Контакты</span></li>
        </ul>
    </div>
    <div class="content">
        <form action="" class="feedback">
            <h3>Напишите нам</h3>
            <input id="name" type="text" name="name" placeholder="Имя">
            <input id="email" type="text" name="email" placeholder="Email">
            <input id="message" name="message" placeholder="Тема">
            <textarea id="text" name="text" placeholder="Текст"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
    <div class="footer"><p>«Все права защищены».</p></div>
</div>
</body>
</html>
