<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Семена деревьев</title>
    <link ​rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link ​rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="container">
    <div class="header">
        <span class="logo">Семена деревьев</span>
        <ul class="menu">
            <li><span>Главная</span></li>
            <li><a href="/products/">Каталог</a></li>
            <li><a href="/contact/">Контакты</a></li>
        </ul>
    </div>
    <div class="content"><h3>Добро пожаловать!</h3></div>
    <div class="footer"><p>«Все права защищены».</p></div>
</div>
</body>
</html>
