{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title|title }}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <span class="logo">{{ site_name|title }}</span>
        <ul class="menu">
            {% block menu %}
                {% for item in menu %}
                    <li>
                        {% if request.resolver_match.url_name == item.href %}
                            <span>{{ item.name }}</span>
                        {% else %}
                            <a href="{% url item.href %}">{{ item.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
    <div class="content">{% block content %}<h3>Добро пожаловать!</h3>{% endblock %}</div>
    <div class="footer">{% block footer %}<p>«Все права защищены».</p>{% endblock %}</div>
</div>
</body>
</html>
