{% extends 'layout.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Статус</th>
            <th scope="col">Детали</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for order in models %}
            <tr>
                <td>{{ order.pk }}</td>
                <td>{{ order.created|date }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total_text }}</td>
                <td>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#order-{{ order.pk }}">
                        <i class="fas fa-list"></i>
                    </button>
                    <div class="modal fade" id="order-{{ order.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title text-white">Заказ №{{ order.pk }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">{% include 'order/_positions.html' %}</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}