{% extends 'layout.html' %} {% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Категория</th>
            <th scope="col">Имя</th>
            <th scope="col">Цена</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Стоимость</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.positions.all %}
        <tr>
            <td><img src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}"></td>
            <td>{{ item.product.category.name }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}&nbspруб</td>
            <td><input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}"></td>
            <td>{{ item.cost }}&nbspруб</td>
            <td><button class="btn btn-round"><a href="{% url 'order:remove' item.pk %}" class="">удалить</a></button></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" style="text-align:right">
                {% if order.positions.first %}
                    В корзине {{ order.total_quantity }} товаров общей стоимостью {{ order.total_cost }} руб
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
<a href="{% url 'main' %}">на главную</a>
{% if order.positions.first %}
<a href="{% url 'order:pay' %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Оплатить </a>
{% endif %}
{% endblock %}