{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <form action="{% url 'user:edit' %}" method="post" enctype="multipart/form-data">
        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-header"><h3 class="card-title">Профиль</h3></div>
            {% if user.avatar %}
                <img class="card-img-top" src="/media/{{ user.avatar }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                {% csrf_token %}
                {{ edit_form.as_p }}
                {{ profile_form.as_p }}
            </div>
            <div class="card-footer">
                <input class="form-control btn btn-info" type="submit" value="Сохранить">
            </div>
        </div>
    </form>
    <button class="btn btn-round form-control last"><a href="{% url 'main' %}" class="">На главную</a></button>
{% endblock %}